.modalWrapper {
    @apply fixed w-full h-full inset-0 bg-slate-800 opacity-90 text-center transition-all duration-75 ease-linear z-10 flex items-center justify-center;
}

.confirmationBox {
    @apply relative inline-block w-6/12  rounded-md p-10 overflow-hidden shadow-gray-800 bg-white transition-all duration-75 ease-linear;
}

.approveButton {
    background-color: #0f0f27;
    @apply text-white  rounded-full   border-solid w-72  hover:bg-slate-700 relative p-2 m-3;
}

.closeModal {
    color: #0f0f27;
    @apply absolute  top-1.5 right-1.5 hover:text-slate-700 cursor-pointer text-2xl;
}

.approveHeading {
    color: #0f0f27;
    //@function text-fuchsia-900 font-black p-4 text-2xl
    @apply font-black p-4 text-2xl;
}
