.switchButton {
  background-color: lightgray;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  height: 35px;
  position: relative;
  width: 200px;
  margin: 2rem;
}

.pin {
  background-color: white;
  border-radius: 98px;
  height: 30px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 60px;
  transition: left ease .5s;
}

.switchButton.on {
  background-color: green;
}

.switchButton.on .pin {
  left: 139px;
}

.switchInfo{
    text-align: center;
    padding-right: 10px;
}