.switchContainer{
  display: flex;
}

.switchButton {
  // background-color: lightgray;
  // border: 0;
  // border-radius: 50px;
  // cursor: pointer;
  // height: 35px;
  // position: relative;
  // width: 150px;

   @apply rounded-full border-2 border-violet-200 border-solid w-48 h-10 text-violet-50 hover:bg-violet-50/[0.3];
}

.pin {
  background-color: white;
  border-radius: 98px;
  height: 30px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 60px;
  transition: left ease .5s;
}

.switchButton.on {
  background-color: green;
}

.switchButton.on .pin {
  left: 139px;
}

.switchInfo{
    text-align: center;
    padding-right: 10px;
}