.bannerContainer {
    @apply flex justify-evenly items-center font-sans text-indigo-800;
    background-image: url("../../../assets/background.svg");
    background-repeat: no-repeat;
}

.bannerText {
    @apply ml-40;
    & h1 {
        @apply text-6xl w-full pb-4;
    }

    & p {
        @apply w-fit text-slate-700 text-justify;
    }
}

.imageSize {
    width: 100rem;

    @apply opacity-75;

    // @apply w-full
}
